* {
    margin: 0px;
    padding: 0px;
}
.nav {
    display: flex;
    justify-content: space-between;
    border: 2px solid white;
    align-items: center;
}

.logo {
    margin-left: 15px;
}
#side{
    display: none;
}

.nav>ul>li {
    display: inline;
    justify-content: space-between;
    text-decoration: none;
    padding: 15px;
}

.midnav>li>a {
    color: white;
    text-decoration: none;
}

.midnav>li>a:hover {
    color: gold;
    text-decoration: underline;
}

.resume>a>button {
    padding: 5px 20px;
    font-size: 20px;
    background-color: transparent;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 5px;
    border: 2px solid aqua;
    cursor: pointer;
    margin-right: 14px;
}

section {
    display: flex;
}

.part1 {
    display: flex;
    width: 40%;
    flex-direction: column;
    padding: 10px;
    animation: part1 1s ease-in 0s 1 forwards;
}

.part1_h1 {
    text-align: center;
    margin-top: 10%;
}

.name {
    font-size: 40px;
    margin: 10px 0px;
    text-align: center;
}

.role {
    margin-bottom: 20px;
    text-align: center;
}

.about {
    font-size: 16px;
    color: grey;
    padding-bottom: 30px;
    margin-left: 15px;
    text-align: center;
}

.extra_h1 {
    margin: 20px 0px;
}

.nss {
    font-size: 20px;
    margin: 10px;
}

.nss_activities {
    line-height: 30px;
    margin-left: 20px;
    color: grey;
}

.dsw {
    font-size: 20px;
    margin: 10px;
}

.dsw>p {
    color: grey;
    margin: 15px;
    font-size: 16px;
}

.dsw>li {
    color: grey;
    line-height: 30px;
    margin-left: 20px;
    font-size: 16px;
}

.part2 {
    float: right;
    width: 60vw;
    margin-left: 5%;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
   
}
.img1{
    position: relative;
  justify-self: center;
    align-self:center ;
    z-index: 1;
    width: 450px;
    height: 450px;
    right: -610px;
    animation: photo1 1s ease-in 0s 1 forwards;
}

.img2 {
    position: relative;
    right: -220px;
    animation: photo2 1s ease-in 0s 1 forwards;
    z-index: 0;

}

.img3 {
    position: relative; 
    left: -180px;
    animation: photo3 1s ease-in 0s 1 forwards;
    z-index: 1;
    
}

.img4 {
    position: relative;
    left: -560px;
    z-index: 0.3;
    animation: photo4 1s ease-in 0s 1 forwards;
}

.footer {
    height: 200px;
    width: 100%;
    background-color: rgb(27, 25, 25);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 180px 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.row1 {
    width: 75%;
    height: 100%;
    margin: 15px;
}

.row1>p {
    margin-top: 15px;
}

.row2>h2 {
    margin-bottom: 15px;
}

.row2>ul>a {
    line-height: 25px;
    list-style: none;
    text-decoration: none;
    color: white;
}
.row2>ul>a>li>i{
    padding-right: 10px;
}

.row3>h2 {
    margin-bottom: 15px;
}

.row3>ul>li {
    line-height: 25px;
    list-style: none;
}
.row3 i{
    padding-right: 10px;
}
.social_media i{
font-size: 30px;
padding: 10px;
}
@keyframes photo1 {
    from {
        transform: translateX(0) translateY(0);
        height: 450px;
        width: 450px;
        opacity: 0;
    }
    to {
        transform: translateX(-300px) translateY(-300px);
        height: 350px;
        width: 350px;
        right: -600px;
        top: 100px;
        opacity: 1;
    }
}
    @keyframes photo2 {
        from {
            transform: translateX(0) translateY(0);
            height: 450px;
            width: 450px;
            opacity: 0;
        }
        to {
            transform: translateX(300px) translateY(-300px);
            height: 350px;
            width: 350px;
            right:0px;
            top: 100px;
            opacity: 1;
        }
}
@keyframes photo3 {
    from {
        transform: translateX(0) translateY(0);
        height: 450px;
        width: 450px;
        opacity: 0;
    }
    to {
        transform: translateX(-300px) translateY(300px);
        height: 350px;
        width: 350px;
        left: -100px;
        bottom: 150px;
        opacity: 1;
    }
}
@keyframes photo4 {
    from {
        transform: translateX(0) translateY(0);
        height: 450px;
        width: 450px;
        opacity: 0;
    }
    to {
        transform: translateX(300px) translateY(300px);
        height: 350px;
        width: 350px;
        left: -700px;
        bottom: 150px;
        opacity: 1;
    }
}
@keyframes part1 {
    from {
        transform:translateX(-1000px);
    }
    to {
        transform: translateX(0px);
    }
    
}
.author{
    grid-row: 2/3;
grid-column: 2/3;
}
@media screen and (max-width: 400px)
{
body{ margin: 0;
    padding: 0;
    background-color: black;
    }
    .nav > ul{
        display: flex;
        flex-direction: column;
    }
    .logo{
        display: none;
    }
    .resume{
        display: none;
    }
    .nav{
        position: fixed;
        background-color: rgb(185, 180, 180);
        height: 60vh;
        width: 60vw;
        display: flex;
        justify-content: center;
    
    }
    .midnav>li>a{
        color: black;
        text-decoration: none;
}
.logo_inner{
    display: flex;
    background-color: black;
    justify-content: center;
    border-radius: 100%;

}
.resume_inner{
    padding: 5px 20px;
    font-size: 20px;
    background-color: orange;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 5px;
    border: 2px solid white;
    cursor: pointer;
    margin-right: 14px;
}
    .part1{
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .part2{
        display: none;
    }
    .footer{
        position: relative;
        bottom: 0;
        display: grid;
        grid-template-columns: 1fr 1fr ;
        font-size: 12px;
    }
    .row1{
        display: none;
    }
    .row2{
        padding: 10px;
    }
    .row3{
        padding: 0px;
    }
    .social_media{
        scale: 0.85;
        display: flex;
    }
    .logo_inner{
        position: relative;
        top: -70px;
        background-color: black;
        justify-content: center;
        border-radius: 100%;
        z-index: 5;
    }
    #side{
        display: flex;
        position: relative;
        background-color: black;
        justify-content: center;
        top: -10px;
        left: 160px;
        font-size: 40px;
        border-radius: 50px;
        
    }
        .nav{
        left: -260px;
        z-index: 5;
    }
    .nav.active{
        left: 0px;
    }
}


