*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: black;
    color: white;
}
.hide_icon{
    display: none;
}
#back{
    display: none;
}
#side_icon{
    display: none;
}
.resume_inner{
    display: none;
}
.logo_inner{
    display: none;
}
@media screen and (max-width: 390px )
{
}